/* global reset */
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}

/* https://dev.to/madsstoumann/dark-mode-in-3-lines-of-css-and-other-adventures-1ljj */
:where(html) {
	--darkmode: 0;
	container-name: root;
	container-type: normal;
}
body {
	--background-color: #FFF;
	--text-color: #222;
	background-color: var(--background-color);
	color: var(--text-color);
	color-scheme: light dark;
}
@media (prefers-color-scheme: dark) {
	html { --darkmode: 1; }
}
@media (prefers-color-scheme: light) {
	html { --darkmode: 0; }
}
html:has(#color-scheme-light:checked) { --darkmode: 0; }
html:has(#color-scheme-dark:checked) { --darkmode: 1; }

@container root style(--darkmode: 1) {
	body {
		--background-color: hsl(228, 5%, 15%);
		--text-color: hsl(228, 5%, 80%);
	}
}
/* /dark mode magic */

@font-face {
	font-family: DejaVu Sans Mono;
	src: local('DejaVu Sans Mono Book'),
		local('DejaVu Sans Mono'),
		url('/DejaVuSansMono.ttf') format('truetype');
}
body {
	font-family: DejaVu Sans Mono, sans-serif;
	font-size: small;
	text-align: center;
}

h1 { font-size: 130%; }
h2 { font-size: 125%; }
h3 { font-size: 120%; }
h4 { font-size: 115%; }
h5 { font-size: 110%; }
h6 { font-size: 105%; }

h1 { margin-bottom: 1em; }
h2, h3, h4, h5, h6 { margin-top: 0.5em; margin-bottom: 0.2em; }
p { margin: 1em 0; }

a         { color: color-mix(in srgb, var(--text-color), var(--background-color) 50%); }
a:hover   { color: color-mix(in srgb, var(--text-color), var(--background-color) 20%) !important; }
a:visited { color: color-mix(in srgb, var(--text-color), var(--background-color) 30%); }

/* home page(s) */
.posts {
	list-style-type: none;
	margin-bottom: 2em;
}
.posts li {
	line-height: 1.75em;
}
.posts .date {
	color: color-mix(in srgb, var(--text-color), var(--background-color) 60%);
}

.site {
	text-align: left;
	min-width: 42em;
	max-width: 80%;
	margin: auto;
	padding: 3em 2em;
	line-height: 1.5em;
}

.header {
	margin-bottom: 2em;
}
.header > * {
	display: inline-block;
	padding: 0.2em;
}
.header a {
	font-weight: bold;
	text-decoration: none;
}
.header .extra {
	margin-left: 1em;
}
.header a.title { color: #f0a; }
.header a.title:hover { color: #f0f; }
.header a.extra { color: #080; }
.header a.extra:hover { color: #0f0; }

.header fieldset label {
	margin: 0 0.5em;
	vertical-align: -webkit-baseline-middle;
}
.header fieldset input {
	vertical-align: middle;
}

.meta {
	color: color-mix(in srgb, var(--text-color), var(--background-color) 70%);
}

.footer {
	font-size: 80%;
	color: #666;
	border-top: 4px solid #eee;
	margin-top: 2em;
	overflow: hidden;
}

.footer .contact {
	float: left;
	padding: 1em 0;
}
.footer .contact.right {
	float: right;
}

.footer a { color: #080; }
.footer a:hover { color: #0f0; }

.footer .rss {
	margin-top: 1.1em;
	margin-right: -.2em;
	float: right;
}

.footer .rss img {
	border: 0;
}

/* posts */

/* standard */
.post pre {
	border: 1px solid #ddd;
	padding: 0 .4em;
	overflow: auto;
}

.post ul, .post ol {
	margin-left: 1.35em;
}

.post code {
	/* inline code */
	border: 1px solid color-mix(in srgb, var(--background-color), var(--text-color) 80%);
	padding: 0 .2em;
	background-color: color-mix(in srgb, var(--background-color), var(--text-color) 20%);
}
.post pre code {
	/* code blocks */
	border: none;
	padding: 0;
	background-color: inherit;
}
