<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>{% if page.title %}{{ page.title }} ┈ {% endif %}{{ site.name }}</title>
		<meta name="viewport" content="width=device-width" />
		
		<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		
		<!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="/css/syntax-perldoc.css" />
		
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/main.css" />
		
		<!-- Feed Me! -->
		<link rel="alternate" type="application/atom+xml" title="{{ site.name | xml_escape }}" href="{{ site.uri }}/atom.xml" />
	</head>
	<body>
		<div class="site">
			<div class="header">
				<a style="float: right;" href="/">
					<img src="https://secure.gravatar.com/avatar/e9917c00ce99aa2b0ecb82e942d01a09.jpg?s=100" height="100" width="100" alt="" />
				</a>
				<h1 class="title"><a href="/">{{ site.name }}</a></h1>
				<a class="extra" href="/">home</a>
			</div>
			
			{{ content }}
			
			<div class="footer">
				<div class="contact">
					♥, {{ site.author }} (aka Adm.Wiggin)
					<br />
					IRC: "tianon" on both
					<a href="https://freenode.net/">Freenode</a>
					and
					<a href="http://www.oftc.net/">OFTC</a>
					<br />
					"<a href="http://dilbert.com/strips/comic/2013-09-09" target="_blank">Have you ever tried apathy?  It's awesome.</a>"
					<br />
					<a href="http://infosiftr.com">InfoSiftr</a>
				</div>
				<div class="contact right">
					<a href="https://github.com/tianon">github.com/tianon</a>
					<br />
					<a href="https://twitter.com/tianon">twitter.com/tianon</a>
					<br />
					<code style="white-space: pre;">4096R / B42F 6819 007F 00F8 8E36  4FD4 036A 9C25 BF35 7DD4</code>
					<br />
					<a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0x036A9C25BF357DD4">pgp.mit.edu</a>;
					<a href="https://qa.debian.org/developer.php?login=tianon">DDPO</a> / <a href="https://alioth.debian.org/users/tianon/">Alioth</a>
				</div>
			</div>
		</div>
	</body>
</html>
